<html>
    <head>
<title>
    
Inquiry
</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
<body>
    <div class="container">
        <div class="row">
            <% include navbar.ejs %>
          </div>
        <div class="row">
<div class="col-lg-4">

<img src="/images/signin-image.jpg" alt="Our Signup Image" class="img-fluid" >

</div>  
<div class="col-lg-8" >
    <form action="">
        <div class="d-flex justify-content-center">
            <div class="form-group col-lg-8">
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name">
                  </div>
                </div>
                <div class="d-flex justify-content-center">
        <div class="form-group col-lg-8">
          <label for="Description">Description:</label>
          <input type="text" class="form-control" id="desc">
        </div>
    </div>

 

  <div class="d-flex justify-content-center">
    <div class="form-group col-lg-8">
      <label for="text">Your Query</label>
      <input type="text" class="form-control" id="yourquery">
    </div>
</div>


<div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary" 
        id="insertenquiry">Submit</button>
    </div>
      </form>
    </div>


</div>
</div>
</body>
<script
src="https://code.jquery.com/jquery-3.4.1.min.js"
integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
crossorigin="anonymous"></script>
<script src="javascripts/authentication.js"></script>

</html>