<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Profile
        </title>
  
                   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
                        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>
    
    <body>
            <div class="d-flex justify-content-center">
                    <form class=" col-lg-6 signupform">
                        <br>
                            <div class="form-group">
                          
                        <label for="name" class="labelname"> Name:</label>
                           
                        <input type="text" class="form-control  mx-auto namebox " id="name" >
                      </div>
                           
                            
                            <div class="form-group">
                          
                        <label for="email" class="labelname">Email:</label>
                           
                        <input type="text" class="form-control  mx-auto namebox" id="email" >
                      </div>
                          
                      <div class="form-group">
                          
                        <label for="username" class="labelname">Username:</label>
                           
                        <input type="text" class="form-control  mx-auto namebox" id="username" >
                      </div>
                      <div class="form-group">
                        <label for="contact" class="labelname">Contact:</label>
                        <input type="text" class="form-control  mx-auto namebox" id="contact" >
                      </div>
                      
                          <div class="form-group">
                                <label for="password" class="labelname">Password:</label>
                                <input type="text" class="form-control  mx-auto namebox" id="password" >
                              </div>
                        
                      
                            
                  
                      <div class="d-flex justify-content-center">
                       
                       <button type="submit" class="btn btn-success btn-lg" id="updateevent">Update</button>
                         
                   
                      </div>
                      </form>
                      </div>
                      </body>

                      <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>
    <script src="javascripts/authentication.js"></script>

        
                      </html>